*/mpd/.config/mpd/state
*/mpd/.config/mpd/sticker.sql

*/pomodoro/.pomodoro/current
*/pomodoro/.pomodoro/history

*/yazi/.config/yazi/plugins/

*/gtk/.config/gtk-*/bookmarks
*/gtk/.config/gtk-2.0/gtkfilechooser.ini

# Ignore all wallpapers except for my own one
common/wallpapers/
!common/wallpapers/tux_green.png
